<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      autoReload="true"
      internalLogLevel="Info"
      internalLogFile="log/internal-nlog.log">

    <!-- enable asp.net core layout renderers -->
    <extensions>
        <add assembly="NLog.Web.AspNetCore"/>
    </extensions>

    <!-- the targets to write to -->
    <targets>
        <target xsi:type="File" name="errorsFile" fileName="log/errors-${shortdate}.log" layout="${longdate}|${uppercase:${level}}|${logger}|${message} ${exception:format=tostring}" />
        <target xsi:type="File" name="warnfile" fileName="log/warnfile-${shortdate}.log" layout="${longdate}|${uppercase:${level}}|${logger}|${message} ${exception:format=tostring}" />
        <target xsi:type="File" name="traceFile" fileName="log/trace-${shortdate}.log" layout="${longdate}|${uppercase:${level}}|${logger}|${message} ${exception:format=tostring}" />
    </targets>

    <!-- rules to map from logger name to target -->
    <rules>
        <logger name="*" minlevel="Error" writeTo="errorsFile" />
        <logger name="*" minlevel="Warn" writeTo="warnfile" />
		<logger name="Microsoft.*" minlevel="Trace" writeTo="traceFile" />
    </rules>
</nlog>